body{
	background: url(canvback.jpg);
	color: white;
}
#myCanvas{
	cursor: pointer;
/*	border: black solid;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
div{
							
position: relative;
left  :  100px;
color: white;
height: 40px;
font-size : 50px;
							
				

				}